.mainLabelsbuttonsDiv {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-top: var(--padding-xxs);
  background-color: var(--color-301);
}


.tabButton {
  height: 20px;
  font-size: 20px;
  padding: var(--padding-s);
  display: flex;
  align-items: center;
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tabButton:last-child{
  margin-right: var(--margin-s);
}

.projectsButton, .aboutPageButton{
  color: var(--color-200);
}

.tabSelected{
  color: var(--color-100);
}


@media screen and (min-width: 370px) and (max-width: 414px) {
  .mainLabelsbuttonsDiv {
    width: 100%;
    padding-top: var(--padding-s);
    align-items: center;
    padding-top: 0;
  }

  .mainLabelsbuttonsDiv > button {
    height: 40px;
    width: 100px;
    font-size: 15px;
    padding: var(--padding-xs);
    justify-content: center;
  }
}
