.mainLabelsbuttonsDiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: var(--padding-s);
  background-color: transparent;
}

.mainLabelsbuttonsDiv > button {
  height: 40px;
  font-size: 20px;
  padding: var(--padding-s);
  display: flex;
  align-items: center;
  font-weight: 500;
  border: none;
  background-color: transparent;
}

.tabButton {
  cursor: pointer;
}

@media screen and (min-width: 370px) and (max-width: 414px) {
  .mainLabelsbuttonsDiv {
    width: 100%;
    padding-top: var(--padding-s);
    align-items: center;
    padding-top: 0;
  }

  .mainLabelsbuttonsDiv > button {
    height: 40px;
    width: 100px;
    font-size: 15px;
    padding: var(--padding-xs);
    justify-content: center;
  }
}
