@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  /* Above code "font-family" must be changed */
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  /* COLORS */
  --color-000: #ffffff;
  --color-100: #f0f0f6;
  --color-110: #d3d3d8;
  --color-120: #b7b7bb;
  --color-200: #767676;
  --color-300: #2b2b2b;
  --color-400: #ffb400;

  /* TEXT COLORS*/
  --text-color-primary: var(--color-300);
  --text-color-secondary: var(--color-200);

  /* SPACINGS */
  --margin-xxs: 5px;
  --margin-xs: 10px;
  --margin-s: 20px;
  --margin-m: 30px;
  --margin-l: 40px;
  --margin-xl: 50px;
  --margin-xxl: 60px;

  --padding-xxxs: 2px;
  --padding-xxs: 5px;
  --padding-xs: 10px;
  --padding-s: 20px;
  --padding-m: 30px;
  --padding-l: 40px;
  --padding-xl: 50px;
  --padding-xxl: 60px;

  --gap-xs: 10px;
  --gap-s: 20px;
  --gap-m: 30px;
  --gap-l: 40px;
  --gap-xl: 50px;
  --gap-xxl: 60px;

  /* BORDER RADIUS */
  --border-radius: 25px;
  --border-radius-circle: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: 'sidebar articles';
  grid-template-columns: 300px 1fr;
}

body {
  height: 50vh;
}

main {
  background-color: var(--color-100);
}

.sideBar {
  grid-area: sidebar;
  width: 300px;
  justify-content: flex-start;
  border: var(--color-110) solid 1px;
}

.sideBarDiv {
  height: 98vh;
  padding-left: var(--padding-s);
  overflow: hidden;
}

.generalInfo {
  grid-area: articles;
  overflow-y: scroll;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.hide {
  display: none;
}

.mainTabSelected {
  color: var(--color-400);
}
