.projectsLi {
  display: flex;
  flex-direction: column;
  background-color: var(--color-000);
  border: 1px solid var(--color-110);
  width: 320px;
  margin-top: var(--margin-m);
}

.projectImg {
  width: 100%;
  align-self: center;
  transition: transform 0.3s;
}


.infoDiv {
  margin: 0 var(--margin-s);
  margin-top: var(--margin-s);
  height: 100%;
  position: relative;
}

.projectName {
  margin: var(--margin-xs) 0px;
  font-size: medium;
  color: var(--color-300);
  text-align: center;
}

.description {
  font-size: small;
}

.stack{
  margin-top: var(--margin-xs);
  font-weight: 600;
  color: var(--color-300);
}

.buttonDiv {
  margin-top: var(--margin-xs);
  display: flex;
  justify-content: center;
  gap: var(--gap-m);
  padding:  var(--padding-s);
}

.projectCardButton {
  background-color: var(--color-400);
  border: none;
  padding: var(--padding-xxs) var(--padding-xs);
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.projectCardButton:hover {
  transform: scale(1.1);
}