.separationLine {
  height: 2px;
  width: 90%;
  background-color: var(--color-110);
  display: block;
  margin-top: var(--margin-xs);
}

.sidebarButtonsDiv {
  display: flex;
  justify-content: center;
  gap: var(--gap-s);
  margin-bottom: var(--margin-s);
  margin-top: var(--margin-s);
}

.sidebarButtons {
  width: 80px;
  height: 40px;
  border: none;
  background-color: var(--color-400);
  color: var(--color-300);
  transition: transform 0.2s ease;
}

.sidebarButtons:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.sidebarButtonsUnselected {
  background-color: var(--color-400);
  background-color: var(--color-100);
  border: var(--color-400) solid 1px;
  color: var(--color-400);
}
