.skillsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: flex-start;
  gap: 10px;
  margin-top: var(--margin-m);
  width: 95%;
}

.skillItem {
  background-color: var(--color-400);
  color: rgba(0, 0, 0, 0.699);
  padding: var(--padding-xxs) var(--padding-xs);
  font-size: small;
  margin-bottom: var(--margin-xxs);
}
 