.experienceCardSection {
  margin-top: var(--margin-s);
  margin-bottom: var(--margin-s);
  background-color: var(--color-100);
  padding: 20px;
  padding-top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.dropDownDivexperience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--margin-xs);
}

.experienceCardSection > h1 {
  margin: var(--margin-s);
}

.cardDivContainer {
  background-color: var(--color-000);
}

.cardDiv {
  margin-top: var(--margin-xs);
  display: flex;
  height: 110px;
  padding: var(--padding-xs);
}

.titleDiv {
  width: 30%;
  margin-left: var(--margin-s);
}

.jobTitle {
  font-size: large;
}

.typePeriodDiv {
  display: flex;
  gap: var(--gap-xs);
  margin-top: var(--margin-xs);
  align-items: center;
  height: 30px;
}

.jobType {
  font-size: medium;
}

.jobPeriod {
  background-color: var(--color-400);
  padding: var(--padding-xxxs);
  font-size: 10px;
  text-align: center;
}

.experienceDescription {
  font-size: small;
  margin-left: var(--margin-m);
  padding-top: var(--padding-xs);
  width: 60%;
}

.spanBorder {
  height: 2px;
  width: 96%;
  background-color: var(--color-400);
  margin-left: 2%;
  display: block;
}

.spanBorder:last-child {
  display: none;
}

@media screen and (min-width: 414px) and (max-width: 1100px) {
  .experienceCardSection {
    width: 90%;
    overflow: visible;
  }

  .cardDivContainer {
    width: 100%;
    margin-top: var(--margin-xs);
  }

  .cardDiv {
    height: max-content;
    flex-direction: column;
    justify-content: center;
  }

  .titleDiv {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  .jobTitle {
    font-size: m;
  }

  .typePeriodDiv {
    display: flex;
    gap: var(--gap-xs);
    margin-top: var(--margin-xs);
    justify-content: center;
    height: 25px;
  }

  .jobType {
    font-size: small;
  }

  .experienceDescription {
    font-size: small;
    margin-left: var(--margin-m);
    padding-top: var(--padding-xs);
    width: 80%;
    margin-bottom: var(--margin-xs);
  }

  .spanBorder {
    height: 2px;
    width: 96%;
    background-color: var(--color-400);
    margin-left: 2%;
    display: block;
  }

  .spanBorder:last-child {
    display: none;
  }
}

@media screen and (min-width: 370px) and (max-width: 414px) {
  .experienceCardSection {
    width: 90%;
  }

  .cardDivContainer {
    width: 100%;
    margin-top: var(--margin-xs);
  }

  .cardDiv {
    height: max-content;
    flex-direction: column;
    justify-content: center;
  }

  .titleDiv {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  .jobTitle {
    font-size: m;
  }

  .typePeriodDiv {
    display: flex;
    gap: var(--gap-xs);
    margin-top: var(--margin-xs);
    justify-content: center;
    height: 25px;
  }

  .jobType {
    font-size: small;
  }

  .experienceDescription {
    font-size: small;
    margin-left: var(--margin-m);
    padding-top: var(--padding-xs);
    width: 80%;
    margin-bottom: var(--margin-xs);
  }

  .spanBorder {
    height: 2px;
    width: 96%;
    background-color: var(--color-400);
    margin-left: 2%;
    display: block;
  }

  .spanBorder:last-child {
    display: none;
  }
}
