.contactMethodSection {
  margin: var(--margin-s);
  margin-top: 0;
}

.contactMethodDiv {
  display: flex;
  align-items: center;
  margin-top: var(--margin-s);
  gap: var(--gap-s);
}

.contactMethodImg {
  height: 18px;
}

/* .contactMethodText {

} */
