.contactMethodSection {
  margin: var(--margin-s);
  margin-top: 0;
}

.contactMethodDiv {
  display: flex;
  align-items: center;
  margin-top: var(--margin-l);
  gap: var(--gap-s);
  margin-right: var(--margin-s);
}

.contactMethodImg {
  height: 18px;
}
